<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>io.lenkite.osgi.deploy.servlet.DeployServlet</servlet-class>
		<init-param>
			<param-name>savedir</param-name>
            <param-value>/usr/sap/ljs/store</param-value>
		</init-param>
		<multipart-config>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeployServlet</servlet-name>
		<url-pattern>/v1/*</url-pattern>
	</servlet-mapping>

</web-app>		
